<div class="posts">
 {{ $apiBaseURL := .ApiBaseUrl }}
 {{range .Posts}}
  <article class="post on-list">
    <h1 class="post-title"><a href={{ .Url }}>{{ .Title }} {{if .Url}}(link){{end}}</a></h1>
    <div class="post-meta">
      {{- with .Username -}}
      <span>Submitter:&nbsp;{{ . }}</span>
      {{- end -}}
      {{ if .Metadata.tags }}
      <span>
        {{ range .Metadata.tags }}
        {{- . -}},
        {{ end }}
      </span>
      {{ end }}

      {{- with .CreatedAt -}}
        <time class="post-date">
          {{- .Format "2006-01-02" -}}
        </time>
      {{- end -}}

      {{ if $.LoggedIn }}
      <a href="#"
        hx-get="{{ $apiBaseURL }}/garbage/{{ .ID }}/edit"
        hx-target="#content"
        hx-swap="outerHTML">Edit</a>
      {{ end }}
    </div>


    <div class="post-content">
      {{ .Content }}
    </div>
  </article>
  {{end}}
</div>

{{- with .Alert -}}
  <div id="alert" remove-me="5s" class="alert">{{ . }}</div>
{{ end }}
