# The domain name where the site is available in production
SITE_DOMAIN=<SITE_DOMAIN>

# The host where the Hugo site is available
SITE_HOST=<SITE_HOST>

# The domain/hostname:port where the API server is available
API_HOST=<API_HOST>

# The Postgres URL, e.g. postgresql://postgres:postgres@localhost:5432/garbage_speak?sslomode=disable
POSTGRES_URL=<POSTGRES_URL>

# The hostname from which to send email
SMTP_HOST=<SMTP_HOST>

# The username with which to connect to SMTP_HOST
SMTP_USERNAME=<SMTP_USERNAME>

# The password with which to connect to SMTP_HOST
SMTP_PASSWORD=<SMTP_PASSWORD>

# The email address from which emails are sent
SMTP_FROM_ADDRESS=<SMTP_FROM_ADDRESS>
