input, textarea, select {
  background: transparent;
  color: $accent;
  border: 1px solid $accent;
  border-radius: 0;
  padding: 10px;
  margin: 5px 0;
  font: inherit;
  appearance: none;

  &:focus, :active {
    border-color: $color;
    outline: 1px solid $color;
  }

  &:active {
    box-shadow: none;
  }
}

select {
  background: $background;

  option {
    background: $background;
  }
}

::placeholder {
  color: transparentize($accent, .5);
}

input {
  &[type="checkbox"] {
    vertical-align: middle;
    padding: 10px;
    box-shadow: inset 0 0 0 3px $background;

    &:checked {
      background: $accent;
    }
  }
}

.auth-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-wrapper .auth-form {
  width: 100%;
}

.auth-wrapper h1{margin-bottom: 20px;}

label {
  display: block;
  margin: 0.5rem 0;
}

.error-message {
  color: red;
}

.htmx-indicator {
  display: inline-block;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}


textarea:invalid {
  border: 2px dashed red;
}

textarea:valid {
  border: 2px solid lime;
}
