<h2>Edit Post</h2>
<form hx-put="{{ .ApiBaseUrl }}/garbage/{{ .Garbage.ID }}">
  <label for="title">A brief summary of the garbage</label>
  <input
      id="title"
      autofocus
      rquired
      type="text"
      name="title"
      style="width: 100%"
      placeholder="Provide an explanation, title, or some context"
      value="{{ .Garbage.Title }}"/>

  <label for="garbage">Garbage Speak</label>
  <textarea id="garbage"
            required
            minlength="10"
            rows="3"
            autocorrect="off"
            wrap="soft"
            name="garbage"
            style="width: 100%"
            placeholder="This may be any garbage speak seen in the wild. Refer to the FAQ for what constitues garbage
                           speak.">{{.Garbage.Content}}</textarea>

  <label for="url">URL where seen (optional)</label>
  <input
      id="url"
      optional
      type="text"
      name="url"
      style="width: 100%"
      placeholder="A public URL where this garbage was seen"
      value="{{ .Garbage.Url }}"/>

  <label for="tags">Tags (optional)</label>
  <select id="tags" name="tags" multiple optional>
    {{ range $tag := .AvailableTags }}
      <option {{ if index $.SelectedTags $tag}} selected{{end}}>{{ $tag }}</option>
    {{ end }}
  </select>
  <br>
  <br>
  <button>Update</button>
</form>

