{{ with .Garbage }}
<article class="post on-list">
  <h1 class="post-title">
  {{if .Url}}<a href={{ .Url }} target="_blank">{{.Title}} (link)</a>{{else}}{{.Title}}{{ end }}</h1>
  <div class="post-meta">
    <button hx-put="{{ if ne $.UserID ""}}{{ $.ApiBaseUrl }}/garbage/{{ .ID }}/uplevel{{else}}#{{end}}">
      <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
      <path fill="none" stroke="purple" stroke-linecap="round" stroke-linejoin="round" stroke-width="6" d="m12 4l-6 6m6-6l6 6m-6-6v10.5m0 5.5v-2.5"/>
    </svg>
    Uplevel <b><span hx-get="{{ $.ApiBaseUrl }}/garbage/{{ .ID }}/uplevel" hx-trigger="load"></span></b>
    </button>
    <span>Submitter:&nbsp;{{ .Username }}</span>
    {{ if eq .OwnerID.String $.UserID }}
    <a href="{{ $.ApiBaseUrl }}/garbage/{{ .ID }}/edit"
      hx-get="{{ $.ApiBaseUrl }}/garbage/{{ .ID }}/edit"
      hx-push-url="true"
      hx-target="#content"
      hx-swap="innerHTML">Edit</a>
    {{ end }}
    <a href="{{ $.ApiBaseUrl }}/garbage/{{ .ID }}"
      hx-get="{{ $.ApiBaseUrl }}/garbage/{{ .ID }}"
      hx-push-url="{{ $.ApiBaseUrl }}/garbage/{{ .ID }}"
      hx-target="#content"
      hx-swap="innerHTML">Permalink</a>

    <time class="post-date">
      {{- .CreatedAt.Format "2006-01-02" -}}
    </time>
  </div>
  <div class="post-content">
    <blockquote>{{ .Content }}</blockquote>
  </div>

  <br/>
  <div class="post-meta">
    {{ if .Metadata.tags }}
    <span>tags</span>
    <span>
      {{ range .Metadata.tags }}
      {{- . -}},
      {{ end }}
    </span>
    {{ end }}
  </div>
</article>
{{end}}

{{- with .Alert -}}
  <div id="alert" remove-me="5s" class="alert">{{ . }}</div>
{{ end }}
